<div class="navbar-fixed #212121 grey darken-4">
  <nav class="#212121 grey darken-4">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/perfil" routerLinkActive="active">Perfil</a></li>
        <li><a routerLink="/empresas" routerLinkActive="active">Empresas</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
        <li><a class="waves-effect waves-light btn grey darken-3">Registrar</a></li>
        <li><a class="waves-effect waves-light btn grey darken-3" href="#modal1">Ingresar</a></li>
      </ul>
    </div>
  </nav>
</div>
